<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Teste_WKTech</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/lib/fontawesome/css/all.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Teste_WKTech.styles.css" asp-append-version="true" />
    @await RenderSectionAsync("Scripts", required: false)
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark nav-fill">
            <div class="container-fluid">
                <a class="navbar-brand" href="~/Home/Inicio" data-ajax-method="GET" data-ajax="true" data-ajax-update="#conteudo" data-ajax-mode="replace" data-toggle="cbajax">WKTech</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" href="~/Produto/Inicio" data-ajax-method="GET" data-ajax="true" data-ajax-update="#conteudo" data-ajax-mode="replace" data-toggle="cbajax">Produtos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="~/Categoria/Inicio" data-ajax-method="GET" data-ajax="true" data-ajax-update="#conteudo" data-ajax-mode="replace" data-toggle="cbajax">Categorias</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div id="conteudo" class="container">
        @RenderBody()
    </div>

    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/lib/fontawesome/js/all.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/js/ajax_loading.js" asp-append-version="true"></script>
    <script src="~/js/jquery.inputmask.js" asp-append-version="true"></script>
    <script src="~/js/popper.min.js" asp-append-version="true"></script>
    <script>
        var ROOT = "@Url.Content("~/")";

        $('[data-toggle="cbajax"]').click(function (e) {
            $(".nav-link").removeClass("active");

            var $this = $(this),
                loadurl = $this.attr('href'),
                targ = $this.attr('data-ajax-update');

            $.ajax({
                url: loadurl,
                cache: false,
                success: function (result) {
                    $this.addClass("active");
                    $(targ).html(result);
                },
                error: function (request, status, error) {
                    exibirMensagemErro(request);
                }
            });

            return false;
        });

        function exibirMensagemErro(request) {

            $("#container").html(request.responseText);
        }

    </script>
    <script src="~/js/site.js" asp-append-version="true"></script>

</body>
</html>

